{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Choose Your Workout</h2>
    <p class="text-center">Unlock your full potential with our tailored workout programs designed to match your fitness goals.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Strength Training</h5>
                    <a href="{% url 'workout-list' %}?category=Strength" class="btn btn-dark">View Workouts</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Fat Burn & Weight Loss</h5>
                    <a href="{% url 'workout-list' %}?category=Fat Burn" class="btn btn-dark">View Workouts</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Endurance & Stamina</h5>
                    <a href="{% url 'workout-list' %}?category=Endurance" class="btn btn-dark">View Workouts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
