# Ignore the workouts folder
workouts/

# Ignore environment files
.env

# Ignore virtual environments
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo


# Ignore logs
*.log

# Ignore IDE/editor-specific files
.idea/
*.swp
