<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">MyCUFitness</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.role == "student" %}
                        <li class="nav-item"><a class="nav-link" href="/workout-plans/">Workout Plans</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile/">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-danger text-white" href="/logout/">Logout</a></li>
                    {% elif user.role == "trainer" %}
                        <li class="nav-item"><a class="nav-link" href="/assign-workouts/">Assign Workouts</a></li>
                        <li class="nav-item"><a class="nav-link" href="/trainer-dashboard/">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-danger text-white" href="/logout/">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-us/">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-primary text-white" href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
